extends partial/page


//--------------------------------------------------------\\
//- ---------------- Mixins of goodness ---------------- -\\
//--------------------------------------------------------\\

mixin projects
  .projects.links
    div.title Projects
    div.horizontal_line
    div.list
      a(href="https://github.com/LinasBeres/rez-packages") Rez Package Collector
      a(href="https://github.com/LinasBeres/tracer") Tracer - name tbd

mixin socials
  .socials.links
    div.title Socials
    div.horizontal_line
    div.list
      a(href="https://github.com/LinasBeres") Github
      a(href="https://uk.linkedin.com/in/linas-beresna") LinkedIn
      a(href="./views/contact.html") Contact

mixin resume
  .resume.links
    div.title Resume
    div.horizontal_line
    div.list
      a(href="") Pretty
      a(href="") Simple

mixin interests
  .interests.links
    div.title Interests
    div.horizontal_line
    div.list
      a(href="") Graphics!
      a(href="") 🏂 Snowboarding 🏂
      a(href="") Travelling
      a(href="") Running

mixin content
  .content
    - var gruvi = '<a href="https://gruvi.cs.sfu.ca/">GrUVi</a>'
    - var eugene = '<a href="https://www.dgp.toronto.edu/~elf/">Eugene Fiume</a>'
    - var tobias = '<a href="https://www.homepages.ucl.ac.uk/~ucactri/">Tobias Ritschel</a>'
    p Hello hello! I'm a PhD student at !{gruvi} labs at SFU and am supervised by !{eugene}. My research is in the intersection of realtime and photorealistic rendering. I did my masters at UCL under !{tobias} and have worked for a couple of years in the VFX and animation industry.

//-----------------------------------------------------------\\
//- ----------------- Main Page Extensions ---------------- -\\
//-----------------------------------------------------------\\
append meta
  title Home | Linas Beresna

append styles
  link(rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
  link(rel="stylesheet" href="./stylesheets/styles.css")

block body
  div.pageContent
    div.holder
      a(href="./index.html")
        img.me(src='./images/me.jpg')
      +content
      div.inline
        +projects
        +socials
        +resume
        +interests

append scripts
  script(src="scripts/form.js")
  script(src="scripts/time.js")
  script(src="scripts/index.js")
